<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Móvil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Enlace al archivo CSS -->
</head>
<body>
    <div class="overlay visible"> <!-- Capa de oscurecimiento del fondo -->
        <div class="message">
            Esta web no está disponible para PC, por favor acceda desde un dispositivo móvil.
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script> <!-- Enlace al archivo JavaScript -->
</body>
</html>
