<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Treatments</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Enlace al archivo CSS -->
</head>
<body>
    <header class="navbar">
        <h1>MT-s</h1>
        <a href="#" class="login-button" onclick="showLogin()" aria-label="Iniciar sesión">Iniciar sesión</a>
    </header>

    <main class="content">
        {% include 'home.html' %}
    </main>
    <!-- Contenedor de superposición para formularios -->
    <div id="overlay" class="overlay" onclick="hideOverlay()">
        {% include 'login.html' %}
        <!-- Incluye el contenido de register.html -->
        {% include 'register.html' %}
    </div>
    <footer class="footer">
        <p>&copy; 2024 Medical Treatments. Todos los derechos reservados.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script> <!-- Enlace al archivo JavaScript -->
</body>
</html>
